.inputs {
  border-left: 1px solid #bdbdbd;
}

.inputs textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
}

.inputs textarea::placeholder {
  font-size: 1.2rem;
  color: #bdbdbd;
}