.main-card {
  position: relative;
}

.background img {
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 105%;
  filter: blur(3px);
  transition: transform .3s;
}

.main-card:hover img {
  transform: scale(1.3);
}

.title {
  height: 250px;
}

.clickable-card {
  text-decoration: none;
}

.category,
.title .text-white {
  text-shadow: 0 0 5px rgb(0, 0, 0);
}